body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*BARRA DE NAVEGACION*/
.main-nav{
    background-color: #73AB84;
}

.main-nav a{
    color: #FFF !important;
}

.menu-nav{
    float: right;
}

/*BOTON PRINCIPAL*/
.btn-primary{
    border-color: #384C39;
    background-color:#99D19C;
}

.btn-primary:hover{
    background-color: #384C39;
}

/*ETIQUETAS H2*/
h2{
    color: #8F8073;
}

/*FORMULARIO*/
section.content{
    margin-top:20px;
}

label{
    line-height:1;
    font-size:18px;
}